<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="mt-4">
                <a class="btn btn-sm btn-outline-success mb-3"><i class="fas fa-user-graduate"></i>############</a>
            
                <div class="table-responsive-md text-center">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Nit</th>
                                <th scope="col">Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col" colspan="3"><i class="fas fa-cog fa-spin"></i> Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th> 2 </th>
                                <td> 2 </td>
                                <td> 2 </td>
                                <td width="10px">
                                    <a class="btn btn-sm btn-link">
                                        <span style="font-size: 1em; color: limegreen;">
                                            <i class="far fa-eye"></i>
                                        </span>
                                    </a>
                                </td>
                                <td width="10px">
                                    <a class="btn btn-sm btn-link">
                                        <span style="font-size: 1em; color: dodgerblue;">
                                            <i class="fas fa-user-edit"></i>
                                        </span>
                                    </a>
                                </td>
                                <td width="10px">
                                    <button class="btn btn-sm btn-link">
                                        <span style="font-size: 1em; color: tomato;">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

