<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/"><h4>Laravel + Angular + JWT</h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li routerLinkActive="active"  class="nav-item">
                <a class="nav-link" routerLink="/admin" href="#">Usuarios</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" routerLink="/client">Clientes</a>
            </li>
        </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li  class="nav-item" style="cursor:pointer">
            <a class="nav-link" (click)="logout()">Logout</a>
        </li>
    </ul>
</nav>
