<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="mt-4">
                <a routerLink="user/manager" class="btn btn-sm btn-outline-success mb-3"><i class="fas fa-user-graduate"></i> Crear Usuario</a>

                <div *ngIf="message" class="alert alert-success" role="alert">
                    {{ message }}
                </div>

                <div class="table-responsive-md text-center">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Nombres Y Apellidos</th>
                                <th scope="col">Correo Electronico</th>
                                <th scope="col" colspan="3"><i class="fas fa-cog fa-spin"></i> Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users">
                                <th>{{ user.id }}</th>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td width="10px">
                                    <a [routerLink]="['user/', user.id]" class="btn btn-sm btn-link">
                                        <span style="font-size: 1em; color: limegreen;">
                                            <i class="far fa-eye"></i>
                                        </span>
                                    </a>
                                </td>
                                <td width="10px">
                                    <a [routerLink]="['user/manager']" [queryParams]="{ id: user.id}" class="btn btn-sm btn-link">
                                        <span style="font-size: 1em; color: dodgerblue;">
                                            <i class="fas fa-user-edit"></i>
                                        </span>
                                    </a>
                                </td>
                                <td width="10px">
                                    <button class="btn btn-sm btn-link" (click)="delete(user.id)">
                                        <span style="font-size: 1em; color: tomato;">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>