<app-header></app-header>

<div class="container mt-5 card text-center" style="width: 35rem;">
    <div class="card-header">
        <span style="font-size: 3em; ">
            <i class="fas fa-user"></i> Cliente
        </span>
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>Nombres: {{ client.names }}</p>
            <p>Identificacion: {{ client.identification }}</p>
            <p>Telefono: {{ client.telephone }}</p>
            <p>Direccion: {{ client.address }}</p>
            <p>Correo Electronico: {{ client.email }}<p>
        </blockquote>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-md-12 mt-1">
                <a routerLink="/client" class="btn btn-sm btn-danger">Inicio</a>
            </div>
        </div>
    </div>
</div>
